.btn-primary,
.btn-outline-primary {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.8rem 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;

  &:hover {
    background-color: darken($primary-color, 7%);
    transform: translateY(-2px);
  }
}
